/* Global */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: black;
    color: #D16461;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    z-index: 100;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 30px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: blue;
    transform: scale(1.1);
}

/* Sections */
.section {
    max-width: 1000px;
    margin: 120px auto;
    padding: 20px;
}

/* Titres */
h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.7);
    text-decoration: none;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ffcc00;
    display: inline-block;
}

h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Texte */
p {
    font-size: 20px;
    line-height: 1.8;
}

.intro {
    text-align: center;
    font-size: 22px;
}

/* Carte projet */
.card {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card a {
    display: inline-block;
    margin-top: 15px;
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.card a:hover {
    text-decoration: underline;
    color: blue;
}
