body {
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    background-color: grey;
    font-size: 40px;
}

h1 {
    font-size: 60px;;
    margin-bottom: 20px;
  color: lightblue;
}

p{
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;

a {
    color: lightblue;
    text-decoration: none;
    text-align: left;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1); /* 10% plus grand */
    transition: transform 0.3s ease;
  color: white;
}
